@font-face {
    font-family: 'Pangram-Regular';
    src: url(../fonts/eot/Pangram-Regular.eot);
    src: url(../fonts/eot/Pangram-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/ttf/Pangram-Regular.ttf) format('truetype'),
         url(../fonts/otf/Pangram-Regular.otf) format('otf'),
         url(../fonts/svg/Pangram-Regular.svg#Pangram-Regular) format('svg'),
         url(../fonts/woff/Pangram-Regular.woff) format('woff'),
         url(../fonts/woff/Pangram-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Pangram-Light';
    src: url(../fonts/eot/Pangram-Light.eot);
    src: url(../fonts/eot/Pangram-Light.eot?#iefix) format('embedded-opentype'),
         url(../fonts/otf/Pangram-Light.otf) format('otf'),
         url(../fonts/svg/Pangram-Light.svg#Pangram-Light) format('svg'),
         url(../fonts/ttf/Pangram-Light.ttf) format('truetype'),
         url(../fonts/woff/Pangram-Light.woff) format('woff'),
         url(../fonts/woff/Pangram-Light.woff2) format('woff2');
}
  


* {
    font-family: 'Pangram-Regular';
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
    height: 100vh;
}
body::-webkit-scrollbar {
    width: 4px;
    height: auto;
}
body::-webkit-scrollbar-track {
    background-color: #1a411b;
    border-radius: 24px;
}
body::-webkit-scrollbar-thumb {
    background-color: #4CAF50;
    border-radius: 24px;
}
.desktop-nav {
    display: block;
}
.header-mobile {
    display: none;
}
.mobile-nav .nav-section .section-head .head-apps {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    background-color: #FFFFFF;
}
.mobile-nav .nav-section .section-head .head-apps .apps-list {
    position: relative;
    display: block;
}
.mobile-nav .nav-section .section-head .head-apps .apps-list a {
    display: flex;
    align-items: center;
    height: 73px;
    color: #001f00;
    text-decoration: none;
    font-size: 24px;
    padding-left: 20px;
    border: 0.3px dashed #1a411b;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    font-family: 'Pangram-Light';
}
.mobile-nav .nav-section .section-head .head-apps .apps-list div:last-of-type {
    border-bottom: 0.3px dashed #1a411b;
}
.mobile-nav .nav-section .section-head .head-apps .apps-footer {
    margin-top: 50%;
}
.mobile-nav .nav-section .section-head .head-apps .apps-footer .apps-btn a {
    color: #1A411B;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #C8E6C9;
    padding: 10px 20px;
    margin: 10px;
}
.mobile-nav .nav-section .section-head .head-apps .apps-footer .apps-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-nav .nav-section .section-head .head-apps .apps-footer .apps-btn a p {
    position: relative;
    padding-right: 10px;
    font-size: 14px;
}
.mobile-nav .nav-section .section-head .head-apps .apps-footer .apps-copyright {
    text-align: center;
    color: #757575;
    font-style: normal;
    font-size: 13px;
}
.apps-legal {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apps-legal a {
    color: #1A411B;
    font-size: 13px;
    text-decoration: none;
}
.apps-legal a span {
    color: #757575;
}
.mobile-nav .nav-section .section-head .head-title {
    display: flex;
    align-content: center;
    padding: 15px 20px;
    background-color: #ffffff;
    background-blend-mode: normal;
}
.mobile-nav .nav-section .section-head .head-title .head-home {
    position: relative;
    display: flex;
    width: 89%;
}
.mobile-nav .nav-section .section-head .head-title .head-home a {
    text-decoration: none;
    color: #1a411b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-nav .nav-section .section-head .head-title .head-home a h1 {
    font-family: 'Pangram-Light';
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-left: 10px;
    -webkit-text-stroke: solid 1px #1a411b;
    color: #1a411b;
}
.mobile-nav .nav-section .section-head .head-title .head-menu {
    position: relative;
}
.mobile-nav .nav-section .section-head .head-title .head-menu p {
    border: 2.0px dashed #1a411b;
    width: 98px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-nav .nav-section .section-head .head-title .head-menu p:hover {
    border: 2.0px dashed #5fdd63;
    background-color: #1a411b;
    color: #5fdd63;
}


.sowpal-main {
    margin-top: 30px !important;
}
.sowpal-main .main-caption {
    display: flex;
    text-align: center;
    justify-content: center;
}
.sowpal-main .main-caption h1 {
    font-size: 100px;
    background: -webkit-linear-gradient(15deg, #ffc107 0%, #1a411b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Pangram-Light';
    background-color: #001f00;
}
.sowpal-main .main-image {
    position: relative;
    margin-top: 6vh;
    overflow: auto;
}
.sowpal-main .main-image img {
    margin-left: -50px;
    width: 98%;
}
#sowpal {
    color: #4CAF50;
    font-style: normal;
    font-weight: 800;
}

@media only screen and (max-width: 600px) {
    .desktop-nav {
        display: none;
    }
    .header-mobile {
        display: block;
    }
    .sowpal-main .main-caption h1 {
        font-size: 60px;
    }
    .sowpal-main {
        margin-top: 80px !important;
    }
}